.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-page {
    background-color: rgb(252, 252, 252);
}

.projects-header {
    text-align: center;
    margin: 4rem;
}

.projects-list {
    .project {
        position: relative;
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        width: 90vw;
        border-radius: 1rem;
        box-shadow: 0 0 0.75rem 0.1rem #b8b8b8;
        margin-bottom: 5rem;
        background-color: white;

        .project-description-box {
            position: relative;
            text-align: center;

            .project-description {
                width: 70%;
                margin: 2rem 2rem 0 2rem;

                h2 {
                    padding: 1rem;
                    margin: 0;
                }
            }

            .buttons-container {
                a button {
                    margin: 2rem 1rem;
                }
            }

            @media (max-width: 1000px) {
                .project-description {
                    width: 70%;
                }
            }
        }

        .project-image-container {
            position: relative;
            margin: 0;
            height: 100%;
            width: 100%;

            a {
                display: flex;
                justify-content: center;

                img {
                    width: 80%;
                    margin: 0 auto;
                    box-shadow: 0 0 0.75rem 0.1rem #b8b8b8;
                    border-radius: 1rem;
                }
            }
        }

        .app-images-container {
            display: flex;
            flex-direction: row;
            margin: 0;

            a {
                margin: 0 1rem;

                img {
                    height: 20rem;
                    width: 12rem;
                    border: 1px solid black;
                }
            }
        }

        @media (max-width: 800px) {
            .app-images-container {
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    @media (max-width: 1000px) {
        .project {
            grid-template: 1fr 1fr / 1fr;
        }
    }

    .app-project {
        width: 90vw;
        border-radius: 1rem;
        box-shadow: 0 0 0.75rem 0.1rem #b8b8b8;
        margin-bottom: 5rem;

        .app-project-description-box {
            text-align: center;

            .app-project-description {
                width: 70%;
                margin: 2rem 2rem 0 2rem;
            }

            .app-buttons-container {
                a button {
                    margin: 3rem 1rem;
                }
            }
        }

        .app-images-container {
            display: flex;
            flex-direction: row;
            margin: 0;

            a img {
                height: 25rem;
                width: 15rem;
                border: 1px solid black;
                margin: 2rem 1rem;
            }
        }

        @media (max-width: 1000px) {
            .app-images-container {
                flex-direction: column;
            }
        }
    }
}