body {
    font-size: 1.25rem;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    box-shadow: 0 0 5px 1px #ccc;
    padding: 0.5rem;
}

p,
a {
    color: black;
}

p {
    margin: 0.5rem;
}

a.link {
    color: blue;
    text-decoration: underline;
}