body {
    font-size: 1.25rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p,
a {
    color: black;
}

a.link {
    color: blue;
    text-decoration: underline;
}