body {
    font-size: 1.25rem;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p,
a {
    color: black;
}

p {
    margin: 0.5rem;
}

a.link {
    color: blue;
    text-decoration: underline;
}