.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-horizontally {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-section {
  height: 20vh;
  width: 100vw;
  max-width: 100%;
  background-color: #f5f5f5;

  .landing-card {
    margin-top: 2rem;
    height: 20rem;
    width: 35rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.1rem 0.4rem 0.01rem #ddd;
    border: 1px solid #f0f0f0;

    .welcome-message {
      font-size: 1.1rem;
      margin: 0 0 0 1.5rem;
      width: 15rem;
    }
    
    .portrait-image {
      border-radius: 100%;
      height: 10rem;
      width: 10rem;
      border: 0.2rem solid #00A5EC;
      margin: 2rem 3rem 2rem 2rem;
    }
  }

  @media (max-width: 800px) {
    .landing-card {
      flex-direction: column;
      flex-direction: column-reverse;
      width: 75vw;
    }
  }
}

@media (max-width: 1000px) {
  .landing-section {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    .left-section {
      h1 {
        font-size: 2rem;
        margin: 1rem;
      }

      h2 {
        font-size: 1rem;
        color: #505050;
        margin: 0;
      }
    }

    .right-section {
      .portrait-image {
        height: 10rem;
        width: 10rem;
        margin: 1rem 0 5rem 0;
      }
    }
  }
}

.info-section {
  width: 100vw;
  background-color: #f5f5f5;
}

.section {
  background-color: #f5f5f5;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info-title {
    font-size: 2rem;
    padding: 2rem;
    align-self: flex-start;
  }
}

.history-section {
  .history-card {
    display: grid;
    grid-template-columns: min-content 40vw;
    background-color: white;
    box-shadow: 0 0.1rem 0.4rem 0.01rem #ddd;
    margin: 1rem;
    border-radius: 1rem;

    .left {
      .history-image {
        height: 8rem;
        width: 8rem;
        border-radius: 1rem;
        margin: 1rem;

        img {
          height: 100%;
          width: 100%;
          border-radius: 1rem;
        }
      }
    }

    .right {
      .text {
        margin: 1.5rem;

        .title {
          font-size: 1.2rem;
        }
        .description {

        }
      }
    }
  }

  @media (max-width: 800px) {
    .history-card {
      grid-template: 1fr 1fr / 1fr;
      width: 75vw;
    }
  }
}

.skills-section {
  .small-box-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem 1rem 2rem;

    .tech-stack-small-box {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 8rem;
      width: 8rem;
      background-color: white;
      box-shadow: 0 0.1rem 0.4rem 0.01rem #ddd;
      border-radius: 1rem;
      margin: 1rem;

      p {
        margin: 0;
      }

      img {
        height: 4rem;
        width: 4rem;
      }
    }
  }
}

.bio-section {
  .bio-box {
    background-color: white;
    box-shadow: 0 0.1rem 0.4rem 0.01rem #ddd;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
  }
}

.contact-section {
  .email {}
  .soc-images {
    display: flex;
    flex-wrap: wrap;

    .soc-icon-image {
      height: 5rem;
      width: 5rem;
      margin: 1rem;
      border-radius: 100%;
      cursor: pointer;
    }
    .soc-icon-image:hover {
      transform: scale(1.04);
    }
  }
}
