.nav {
  background-color: #363636;
  font-family: 'Lato', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  height: 5rem;
}

.top {
  display: flex;
  flex: 1;

  .left-top {
    display: flex;
    align-items: center;

    .title {
      padding: 0 4rem;
      margin: 0;
      font-size: 1.6rem;
      font-weight: 400;
    }

    a {
      color: white;
    }

    a:hover {
      color: #aaa;
    }
  }

  .right-top {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      color: white;
      text-decoration: none;
      padding: 0 1.5rem;
    }

    .nav-link:hover {
      color: #aaa;
    }
  }
}

@media (max-width: 600px) {
  .top .left-top .title {
    padding: 0 0 0 2rem;
    font-size: 1.5rem;
  }
}

.desktop-menu {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.mobile-menu {
  height: 100%;
  width: 6rem;

  .hamburger-menu {
    height: 100%;
    width: 100px;
    cursor: pointer; 
  }

  .dropdown {
    position: absolute;
    margin: 4rem 2rem 0 0;
    background-color: white; 
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    
    a {
      text-decoration: none;
      color: black;
      padding: 0.5rem 0;
      width: 6rem;
      text-align: center;
    }

    a:hover {
      background-color: #f0f0f0;
    }
  }
}

.bottom-line {
  height: 0.3rem;
  background-color: #00A5EC;
  background-image: linear-gradient(90deg,#004bec,#1696ff);
}
