html {
  font-size: 16px;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
}

/* for large monitors */
/* @media (min-width: 2000px) {
  html {
    font-size: 20px;
  }
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

